<title>Jay Shin | My Life</title>
  <p style="font-family: 'IBM Plex Sans Condensed', sans-serif; text-align: center; margin-bottom:0px;margin-top:20px;text-decoration:none;color: #000000; font-size: 150%;">
    THINGS I ENJOY...
  </p>
  <h3 class="title">Distance Running</h3>
  <hr class="title-divider"/>

  <div class="container">
    <table class="pics">
        <tr>
          <td><%= image_tag "xc1.png" %></td>
          <td><%= image_tag "xc2.png" %></td>
          <td><%= image_tag "xc3.png" %></td>
        </tr>
    </table>
  </div>

  <div class="container">
    <ul class="des">
      <li>
        <div class="roles">
          <p>∘ Orange High School (Division 1) -> Ohio State Running Club</p>
          <p> ∘ 2 x Academic All-State in T&F and XC</p>
          <p> ∘ All-Conference Honorable Mention in XC</p>
          <p> ∘ District, Region, State Qulifier in 4x800m</p>
          <p>∘ School Record ~ Freshman 4x800m (2017 - Present)</p>
          <p>∘ 1600m - 4:38 | 5000m - 16:32</p>
        </div>
      </li>
    </ul>
  </div>
    
  <h3 class="title">MUSIC</h3>
  <hr class="title-divider"/>

  <table class="pics">
      <tr>
        <td><%= image_tag "mu1.png" %></td>
        <td><%= image_tag "mu2.jpeg" %></td>
        <td><%= image_tag "mu3.png" %></td>
      </tr>
  </table>

  <div class="container">
    <ul class="des">
      <li>
        <div class="roles">
          <p>∘ Played for my high school's <a href="https://www.youtube.com/watch?v=J-PtypjzZJ0&t">Snareline</a>
              ‎‎‎‎‎under the direction of <a href="https://www.innovativepercussion.com/artists/craig_dunn">Craig Dunn</a> 
              from <a href="https://rhythmx.org/">RhythmX</a>.
          </p> 
          <p>∘ Was selected to perform Handel’s Messiah with the 
            <a href="https://columbussymphony.com/education/lifelong-learners/side-by-side/">Columbus Symphony Orchestra</a>.
          </p>
          <p>∘ Played violin for my high school's orchestra (4 year varsity letter).</p>
          <p>∘ Played fingerstyle guitar since 2013.</p>
        </div>
      </li>
    </ul>
  </div>
    
  <h3 class="title">COMPOSING</h3>
  <hr class="title-divider"/>

  <table class="pics">
    <tr>
      <td><%= image_tag "mcb.png" %></td>
      <td><%= image_tag "logo_white.png" %></td>
    </tr>
  </table>

  <div class="container">
    <ul class="des">
      <li>
        <div class="roles">
          <p>∘ Founder & leader of ERCF, a group of passionate musicians, based in South Korea.</p>
          <p>∘ Produced, mixed, and mastered 70+ tracks for ERCF during the career. </p>
          <p>∘ Composed/produced total of 300+ instrumental tracks during the career. </p>
          <p>∘ Recieved a rating of 1 in Class A in the OMEA Composition Contest. </p>
          <p>∘ <a target="_blank" href="https://www.soundcloud.com/ercfminecraftboi">Soundcloud</a></p>
        </div>
      </li>
    </ul>
  </div>    

  