<title>Jay Shin | Home</title>
<div class="contact-body">

    <br/>

    <%= image_tag "shay.png", style: "width: 24; height: 24em;" %>
    
    <br/>

    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <div class="btn">
      <span class="noselect">
        shin.810@osu.edu
        <br/>
        (937) - 903 - 8238
        <br/>
        Columbus, Ohio
      </span>
    </div>

    <ul class="links">
      <li class="image-smaller">
        <a target="_blank" href="https://www.linkedin.com/in/jay-shin-012724230/">
          <%= image_tag "linkedin.png" %>
        </a>
      </li>
      <li class="image-smaller">
        <a target="_blank" href="https://www.github.com/shayjin">
          <%= image_tag "github.png" %>
        </a>
      </li>
      <li class="image-smaller">
        <a target="_blank" href="https://www.instagram.com/shay_0419">
          <%= image_tag "instagram.png" %>
        </a>
      </li>
      <li class="image-smaller">
        <a target="_blank" href="https://soundcloud.com/ercfminecraftboi">
          <%= image_tag "soundcloud.png" %>
        </a>
      </li>
    </ul>
  </div>